@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: #4e4b48;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  background-color: #f7f3ee;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  color: #4e4b48;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: calc(38px + 26 * ((100vw - 320px) / 1600));
  line-height: 100%;
  color: #f7f3ee;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: calc(28px + 28 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  color: #1a3047;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: calc(22px + 26 * ((100vw - 320px) / 1600));
  line-height: 1;
  color: #1a3047;
}

h4 {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: calc(18px + 14 * ((100vw - 320px) / 1600));
  line-height: 1.4;
  color: #fff;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn1 {
  min-width: 207px;
  padding: 15px 40px;
  background: #69afdc;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn1:hover {
  background: #4492c5;
}

.btn2 {
  min-width: 170px;
  padding: 15px 40px;
  border: 2px solid #69afdc;
  border-radius: 8px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn2:hover {
  background: #4492c5;
  border: none;
}

li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 999;
}

.header-body {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header-body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.header-logo {
  width: 84px;
  height: 64px;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    margin-right: 100px;
  }
}

.header-btn a {
  padding: 16px 57px 16px 24px;
  position: relative;
}

.header-btn a::after {
  content: url(../images/header/batton.svg);
  position: absolute;
  top: 14px;
  left: 156px;
}

@media screen and (max-width: 1400px) {
  .header-btn a::after {
    position: absolute;
    top: 8px;
    left: 118px;
  }
}

@media screen and (max-width: 1400px) {
  .header-btn a {
    min-width: 100px;
    padding: 10px 37px 10px 14px;
  }
}

@media screen and (max-width: 768px) {
  .header-btn a {
    padding: 10px 20px;
  }
  .header-btn a::after {
    content: "";
  }
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-nav li:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .menu-nav li {
    margin-top: 20px;
  }
}

.menu-nav a {
  position: relative;
}

.menu-nav a:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #69afdc;
  position: absolute;
  top: 55px;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .menu-nav a:hover::after {
    top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .menu-nav {
    height: calc(100vh - 100px);
    padding: 0 40px;
    position: fixed;
    right: 0;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: #12202f;
    opacity: 0.82;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media screen and (max-width: 768px) {
  .menu-nav {
    top: 80px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header-search {
    margin-left: 100px;
    margin-right: 100px;
  }
}

form {
  position: relative;
  width: 100px;
  margin-left: auto;
  height: 16px;
}

input {
  height: 16px;
  width: 0;
  padding: 0 16px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

input:focus {
  width: 150px;
  z-index: 1;
  border-bottom: 2px solid #69afdc;
}

button.header {
  background: #fff;
  border: none;
  height: 16px;
  width: 16px;
  position: absolute;
  top: -4px;
  right: 0;
  cursor: pointer;
}

button.header:before {
  content: url(../images/header/lupa.svg);
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-phone img {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}

.header-phone img:last-child {
  width: 9px;
  height: 5px;
  margin-left: 8px;
}

@media screen and (max-width: 1400px) {
  .header-phone {
    display: none;
  }
}

.header-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-lang img {
  width: 9px;
  height: 5px;
  margin-left: 8px;
}

@media screen and (max-width: 1024px) {
  .burger {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger span {
    width: 40px;
    height: 1px;
    background-color: #4492c5;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger span::before, .burger span::after {
    content: " ";
    width: 40px;
    height: 1px;
    background-color: #4492c5;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger span::before {
    -webkit-transform: translateY(-9px) translateX(-50%);
            transform: translateY(-9px) translateX(-50%);
  }
  .burger span::after {
    -webkit-transform: translateY(9px) translateX(-50%);
            transform: translateY(9px) translateX(-50%);
  }
  .burger.active span {
    width: 0;
  }
  .burger.active span::before {
    -webkit-transform: translateY(0px) translateX(-50%) rotate(45deg);
            transform: translateY(0px) translateX(-50%) rotate(45deg);
  }
  .burger.active span::after {
    -webkit-transform: translateY(0px) translateX(-50%) rotate(-45deg);
            transform: translateY(0px) translateX(-50%) rotate(-45deg);
  }
  .menu-nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }
  .header-logo {
    width: 64px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 10px;
  }
  .header-lang {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .burger {
    top: 26px;
  }
  .header-search {
    position: absolute;
    top: 18px;
    right: 20px;
  }
}

footer {
  background: #1a3047;
}

footer p {
  color: #747f8b;
  font-size: 14px;
}

footer a {
  color: #f7f3ee;
  font-size: 18px;
}

footer a.btn1 {
  font-size: 14px;
}

.footer-body {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer-body ul {
  margin-top: 24px;
}

.footer-body li {
  margin-bottom: 32px;
}

.footer-logo img {
  width: 126px;
  height: 96px;
}

.footer-contact {
  width: 20%;
}

@media screen and (max-width: 1400px) {
  .footer-contact {
    width: 50%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.footer-contact p {
  margin-bottom: 14px;
}

.footer-contact a {
  margin-bottom: 32px;
}

.footer-contact a:hover {
  opacity: 0.8;
}

.footer-contact > :nth-child(6) {
  color: #f7f3ee;
  font-size: 18px;
  margin-bottom: 30px;
}

.footer-contact > :nth-child(7) {
  margin-bottom: 56px;
}

.footer-info {
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .footer-info {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-right: auto;
  }
}

.footer-info p {
  font-family: "Merriweather", serif;
  font-size: 18px;
  padding-bottom: 24px;
  border-bottom: 1px solid #747f8b;
}

.footer-info a {
  color: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
  font-size: 14px;
}

.footer-info a:hover {
  opacity: 0.8;
}

.footer-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 1024px) {
  .footer-catalog {
    width: 80%;
  }
}

.footer-catalog p {
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 18px;
  padding-bottom: 24px;
  border-bottom: 1px solid #747f8b;
}

.footer-catalog a {
  color: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
  font-size: 14px;
}

.footer-catalog a:hover {
  opacity: 0.8;
}

address {
  border-top: 1px solid #747f8b;
}

.foot {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot > :first-child {
  margin-right: auto;
}

.foot > :last-child {
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    margin-bottom: 32px;
  }
  .footer-contact,
  .footer-info,
  .footer-catalog {
    width: 100%;
    margin-bottom: 32px;
  }
  .footer-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-catalog {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot > :first-child {
    margin: 0;
    margin-bottom: 12px;
  }
  .foot > :last-child {
    margin: 0;
    margin-top: 12px;
  }
}

#bedroom {
  margin-top: 100px;
  position: relative;
}

.cardBanner {
  height: 650px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(24.3%, #131b23), to(rgba(26, 25, 24, 0.4))), url(../images/home/banner.jpg);
  background-image: linear-gradient(90deg, #131b23 24.3%, rgba(26, 25, 24, 0.4) 100%), url(../images/home/banner.jpg);
}

@media screen and (max-width: 1024px) {
  .cardBanner {
    height: 450px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  opacity: 1;
  background: none;
}

.swiper-pagination-bullet-active {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.swiper-pagination-bullet-active::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #69afdc;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-7px) translateX(-7px);
          transform: translateY(-7px) translateX(-7px);
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

@media screen and (max-width: 768px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }
}

.swiper-container {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  border: 2px solid #f7f3ee;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 90%;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    top: 80%;
  }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 2px solid #69afdc;
}

.swiper-button-prev {
  left: 15%;
}

.swiper-button-next {
  right: 18%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../images/home/leftBanner.png);
}

.swiper-button-next {
  background-image: url(../images/home/rightBanner.png);
}

.bedroom-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  top: 38%;
  left: 24%;
}

@media screen and (max-width: 1024px) {
  .bedroom-title {
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .bedroom-title {
    left: 14%;
  }
}

.bedroom-title > p:first-child {
  padding-bottom: 16px;
  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #69afdc;
}

.bedroom-title h1 {
  margin-bottom: 24px;
}

.bedroom-title h4 {
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
  line-height: 100%;
  color: #f7f3ee;
  margin-bottom: 30px;
}

.bedroom-title a {
  color: #f7f3ee;
}

#homeCatalog {
  max-width: 1390px;
  margin: 94px auto 132px auto;
}

#homeCatalog p.catalogHome {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 800;
  font-size: calc(24px + 84 * ((100vw - 320px) / 1600));
  line-height: 120%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #747f8b;
  opacity: 0.06;
  text-align: center;
}

#homeCatalog h4 {
  color: #1a3047;
  margin-bottom: 26px;
  margin-top: 32px;
}

#homeCatalog li {
  margin-bottom: 24px;
}

#homeCatalog li:last-child {
  margin-top: 58px;
}

#homeCatalog a.showAll {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#homeCatalog a.showAll::after {
  content: url(../images/home/blockR.png);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #69afdc;
  margin-left: 12px;
  padding: 2px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#homeCatalog a.showAll:hover::after {
  content: url(../images/home/blockR.png);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-left: 12px;
  padding: 2px 10px;
  background: #69afdc;
  border: none;
}

#homeCatalog .grid-container {
  margin-top: -3.5%;
  padding: 0 66px 0 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 24px 24px;
      grid-template-areas: "homeCat1 homeCat1 homeCat1 homeCat2 homeCat2 homeCat2" "homeCat3 homeCat3 homeCat4 homeCat4 homeCat5 homeCat5" "homeCat6 homeCat6 homeCat7 homeCat7 homeCat8 homeCat8";
}

@media screen and (max-width: 1400px) {
  #homeCatalog .grid-container {
    padding: 0 20px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "homeCat1 homeCat1 homeCat1 homeCat2 homeCat2 homeCat2" "homeCat3 homeCat3 homeCat3 homeCat4 homeCat4 homeCat4" "homeCat5 homeCat5 homeCat5 homeCat6 homeCat6 homeCat6" "homeCat7 homeCat7 homeCat7 homeCat8 homeCat8 homeCat8";
  }
}

@media screen and (max-width: 1024px) {
  #homeCatalog .grid-container {
    padding: 0 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "homeCat1" "homeCat2" "homeCat3" "homeCat4" "homeCat5" "homeCat6" "homeCat7" "homeCat8";
  }
}

#homeCatalog .homeCat1,
#homeCatalog .homeCat2,
#homeCatalog .homeCat3,
#homeCatalog .homeCat4,
#homeCatalog .homeCat5,
#homeCatalog .homeCat6,
#homeCatalog .homeCat7,
#homeCatalog .homeCat8 {
  padding-left: 40px;
  position: relative;
}

#homeCatalog .homeCat1 img,
#homeCatalog .homeCat2 img,
#homeCatalog .homeCat3 img,
#homeCatalog .homeCat4 img,
#homeCatalog .homeCat5 img,
#homeCatalog .homeCat6 img,
#homeCatalog .homeCat7 img,
#homeCatalog .homeCat8 img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #homeCatalog .homeCat1 img,
  #homeCatalog .homeCat2 img,
  #homeCatalog .homeCat3 img,
  #homeCatalog .homeCat4 img,
  #homeCatalog .homeCat5 img,
  #homeCatalog .homeCat6 img,
  #homeCatalog .homeCat7 img,
  #homeCatalog .homeCat8 img {
    -webkit-transform: scale(0.7) translateX(20%) translateY(20%);
            transform: scale(0.7) translateX(20%) translateY(20%);
  }
}

@media screen and (max-width: 420px) {
  #homeCatalog .homeCat1 img,
  #homeCatalog .homeCat2 img,
  #homeCatalog .homeCat3 img,
  #homeCatalog .homeCat4 img,
  #homeCatalog .homeCat5 img,
  #homeCatalog .homeCat6 img,
  #homeCatalog .homeCat7 img,
  #homeCatalog .homeCat8 img {
    display: none;
  }
}

#homeCatalog .homeCat1 img.two,
#homeCatalog .homeCat2 img.two,
#homeCatalog .homeCat3 img.two,
#homeCatalog .homeCat4 img.two,
#homeCatalog .homeCat5 img.two,
#homeCatalog .homeCat6 img.two,
#homeCatalog .homeCat7 img.two,
#homeCatalog .homeCat8 img.two {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#homeCatalog .homeCat1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: homeCat1;
  background: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
}

#homeCatalog .homeCat2 {
  background: linear-gradient(104.35deg, #e5ebea 0.96%, #cbd8dd 102.08%);
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: homeCat2;
}

#homeCatalog .homeCat3 {
  background: linear-gradient(104.35deg, #e5ebea 0.96%, #cbd8dd 102.08%);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: homeCat3;
}

#homeCatalog .homeCat4 {
  background: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: homeCat4;
}

#homeCatalog .homeCat5 {
  background: linear-gradient(104.35deg, #e5ebea 0.96%, #cbd8dd 102.08%);
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: homeCat5;
}

#homeCatalog .homeCat7 {
  background: linear-gradient(104.35deg, #e5ebea 0.96%, #cbd8dd 102.08%);
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: homeCat7;
}

#homeCatalog .homeCat6 {
  background: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: homeCat6;
}

#homeCatalog .homeCat8 {
  background: linear-gradient(104.35deg, #f1ece7 0.96%, #d6d0cc 102.08%);
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: homeCat8;
}

.popup {
  padding-top: 48px;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  max-width: 700px;
  background: #12202f;
  opacity: 0.9;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .popup {
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .popup {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    width: 100%;
  }
}

.popup-close {
  margin-left: 163px;
  margin-bottom: 96px;
  opacity: 0.24;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid #d9dbde;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.popup-close:hover {
  border: 3px solid #69afdc;
}

.popup-close span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
          transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

.popup-title {
  margin: 0 374px 56px 220px;
  padding-left: 44px;
  font-family: "Merriweather", serif;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f7f3ee;
  position: relative;
}

.popup-title::before {
  content: "";
  width: 32px;
  height: 1px;
  background: #69afdc;
  position: absolute;
  top: 50%;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .popup-title {
    margin: 0 374px 56px 150px;
  }
}

.popup-text {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f7f3ee;
  opacity: 0.5;
}

.popup-text ul {
  margin-left: 163px;
  margin-bottom: 344px;
}

@media screen and (max-width: 1024px) {
  .popup-text ul {
    margin-left: 100px;
  }
}

.popup-text a {
  padding-bottom: 3px;
}

.popup-text a:hover {
  border-bottom: 3px solid #69afdc;
}

#newspoduct {
  margin-bottom: 132px;
  padding-bottom: 132px;
  position: relative;
}

#newspoduct::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #1a3047;
  position: absolute;
  top: 0;
  right: 50%;
}

.slider-top {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrap {
  color: #fff;
  padding-top: 72px;
  padding-bottom: 24px;
  border-bottom: 1px solid #747f8b;
  margin-bottom: 40px;
}

h2 {
  color: #fff;
  padding-left: 20px;
}

.swiper-slide-prev {
  position: relative;
}

.swiper-slide-prev::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(26, 48, 71, 0.8)), color-stop(77.61%, #1a3047));
  background: linear-gradient(90deg, rgba(26, 48, 71, 0.8) 0%, #1a3047 77.61%);
  -webkit-transform: translateX(-4%) matrix(-1, 0, 0, 1, 0, 0);
          transform: translateX(-4%) matrix(-1, 0, 0, 1, 0, 0);
  z-index: 99;
}

@media screen and (max-width: 1400px) {
  .swiper-slide-prev::before {
    right: -4%;
  }
}

.swiper-slide-next {
  position: relative;
}

.swiper-slide-next::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 243, 238, 0.8)), color-stop(77.61%, #f7f3ee));
  background: linear-gradient(90deg, rgba(247, 243, 238, 0.8) 0%, #f7f3ee 77.61%);
  z-index: 99;
}

@media screen and (max-width: 1400px) {
  .swiper-slide-next::before {
    left: -4%;
  }
}

.newsVels {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(53.33%, rgba(26, 48, 71, 0.16)), color-stop(85.14%, rgba(26, 48, 71, 0.88)), color-stop(85.14%, rgba(26, 48, 71, 0.88))), url(../images/home/slider1.jpg);
  background-image: linear-gradient(180deg, rgba(26, 48, 71, 0.16) 53.33%, rgba(26, 48, 71, 0.88) 85.14%, rgba(26, 48, 71, 0.88) 85.14%), url(../images/home/slider1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsVels a {
  padding: 395px 88px 40px 32px;
  color: #fff;
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
}

.newsFranko {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(53.33%, rgba(26, 48, 71, 0.16)), color-stop(85.14%, rgba(26, 48, 71, 0.88)), color-stop(85.14%, rgba(26, 48, 71, 0.88))), url(../images/home/slider2.jpg);
  background-image: linear-gradient(180deg, rgba(26, 48, 71, 0.16) 53.33%, rgba(26, 48, 71, 0.88) 85.14%, rgba(26, 48, 71, 0.88) 85.14%), url(../images/home/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsFranko p {
  width: 130px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding: 13px 22px 11px 23px;
  background: #69afdc;
}

.newsFranko a {
  max-width: 350px;
  padding: 312px 45px 40px 32px;
  color: #fff;
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
}

.newsFerrara {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(53.33%, rgba(26, 48, 71, 0.16)), color-stop(85.14%, rgba(26, 48, 71, 0.88)), color-stop(85.14%, rgba(26, 48, 71, 0.88))), url(../images/home/slider3.jpg);
  background-image: linear-gradient(180deg, rgba(26, 48, 71, 0.16) 53.33%, rgba(26, 48, 71, 0.88) 85.14%, rgba(26, 48, 71, 0.88) 85.14%), url(../images/home/slider3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsFerrara p {
  width: 130px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  padding: 13px 22px 11px 23px;
  background: #69afdc;
}

.newsFerrara a {
  padding: 340px 45px 40px 32px;
  color: #fff;
  font-size: calc(16px + 5 * ((100vw - 320px) / 1600));
  text-align: left;
}

.slider-top {
  position: relative;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  background: none;
  border: 2px solid #747f8b;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.swiper-button-next:hover {
  border: 2px solid #69afdc;
}

.swiper-button-next span {
  width: 10px;
  height: 10px;
  border-top: 2px solid #747f8b;
  border-left: 2px solid #747f8b;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-1px) translateY(-1px) rotate(135deg);
          transform: translateX(-1px) translateY(-1px) rotate(135deg);
}

@media screen and (max-width: 1024px) {
  .swiper-button-next {
    right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-next {
    left: 80%;
  }
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 90%;
  background: none;
  border: 2px solid #747f8b;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.swiper-button-prev:hover {
  border: 2px solid #69afdc;
}

.swiper-button-prev span {
  width: 10px;
  height: 10px;
  border-top: 2px solid #747f8b;
  border-left: 2px solid #747f8b;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(1px) translateY(-1px) rotate(-45deg);
          transform: translateX(1px) translateY(-1px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .swiper-button-prev {
    left: 80%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-prev {
    left: 60%;
  }
}
/*# sourceMappingURL=style.css.map */